[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argparse = "*"
numpy = "*"
keras = "*"
tensorflow = "*"
pillow = "*"
matplotlib = "*"
opencv-python = "*"
scikit-image = "*"

[dev-packages]

[requires]
python_version = "3.5"
